{# templates/cursos/dashboard_courses.html #}
{% extends "layout.html" %}

{% block head_extra %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard_courses.css') }}">
{% endblock %}

{% block content %}
<div class="container py-4">
  <h1 class="mb-4">Mis cursos</h1>
  <div class="row justify-content-center">
    {% for curso in cursos %}
      <div class="col-md-6 col-lg-5 mb-4 d-flex justify-content-center">
        <div class="card course-card h-80 shadow-sm">
          {# Aquí apuntamos a static/img/cursos/<course_id>.jpg #}
          <img
            src="{{ url_for('static', filename='img/cursos/' ~ curso.course_id ~ '.jpg') }}"
            class="card-img-top course-card-img"
            alt="Portada {{ curso.course_name }}"
          >
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ curso.course_name }}</h5>
            <div class="mt-auto text-end">
              <a
                href="{{ url_for('courses.curso_page', curso_id=curso.course_id) }}"
                class="btn btn-primary"
              >
                Ir al curso
              </a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}