{% extends './layout.html' %}

{% block content %}
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
            <div class="container-fluid">
                <span class="logo navbar-brand mb-0 h1">EDUNET</span>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto d-flex align-items-center gap-2">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                     <a class="nav-link" href="">Cursos</a>
                    <button type="button" class="btn btn-dark">Iniciar Sesión</button>
                </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="container pt-5">
        <h1 class="mt-5">EDUNET</h1>
        <p class="long-text">Tu espacio escolar digital.<br>Consulta tus notas, recibe anuncios importantes, mantente al día con tus actividades académicas y mucho más, todo desde un solo lugar. Pensado para estudiantes, padres y docentes, EDUNET conecta a toda la comunidad educativa de forma simple, rápida y segura</p>
    </div>
    <div class="container-fluid p-0 mt-5 mb-5">
        <img class="main-img" src="{{ url_for('static', filename='img/img2.jpg') }}">
    </div>

    <div class="container">
        <h2 class="mb-5">¿Qué ofrecemos?</h2>
        <div class="row">
            <div class="col">
                <div>
                    <img class="secondary-img" src="{{ url_for('static', filename='img/teacher.jpg') }}" alt="teacher">
                    <h4 class="mt-2">Comunicación directa con tus profesores</h4>
                    <p class="long-text">Mantente en contacto de forma rápida y sencilla. Podrás resolver dudas, recibir orientación personalizada y mantener un seguimiento constante de tu desempeño académico.</p>
                </div>
            </div>
            <div class="col">
                <div>
                    <img class="secondary-img" src="{{ url_for('static', filename='img/schedule.jpg') }}" alt="teacher">
                    <h4 class="mt-2">Acceso inmediato a todas las novedades</h4>
                    <p class="long-text">No te pierdas nada importante. Infórmate al instante sobre comunicados oficiales, actividades escolares, fechas clave y noticias relevantes del colegio.</p>
                </div>
            </div>
            <div class="col">
               <div>
                    <img class="secondary-img" src="{{ url_for('static', filename='img/feedback.jpg') }}" alt="teacher">
                    <h4 class="mt-2">Feedback personalizado</h4>
                    <p class="long-text">Recibe devoluciones y comentarios de tus profesores sobre tus trabajos, exámenes y participación. Una herramienta clave para mejorar tu aprendizaje y avanzar con seguridad.</p>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container d-flex justify-content-center">
            <div class="icons">
                <i class="bi bi-facebook"></i>
                <i class="bi bi-youtube"></i>
                <i class="bi bi-instagram"></i>
            </div>
        </div>
    </footer>
{% endblock %}
