{% extends "reporte/layout_reporte.html" %}

{% block title %}Notas - {{ curso }}{% endblock %}

{% block body %}
<div class="hero">
    <div class="overlay">
        <div class="left">
            <span>Cuenta Padre</span>
        </div>
        <div class="right">
            <span>Anuncios</span>
            <span>Notas</span>
        </div>
    </div>
    <div class="centered-text">
        <h1>{{ curso }}</h1>
        <p>Profesor {{ profesor }}</p>
    </div>
</div>

<table class="grades">
    <thead>
        <tr>
            <th>Asignación</th>
            <th>Nota</th>
        </tr>
    </thead>
    <tbody>
        {% for a in asignaciones %}
        <tr>
            <td>{{ a.titulo }}</td>
            <td>{{ a.nota }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

