{% extends "reporte/layout_reporte.html" %}

{% block title %}Notas - {{ course_name }}{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/reporte_curso.css') }}">
{% endblock %}


{% block body %}
<div class="reporte-container">
  <h1 class="titulo-reporte">Reporte de Notas del curso {{ course_name }}</h1>

  <table class="tabla-simple">
    <thead>
      <tr>
        <th>Estudiante</th>
        <th>Nota</th>
      </tr>
    </thead>
    <tbody>
      {% for item in grades %}
      <tr>
        <td>{{ item.student_name }}</td>
        <td>{{ item.score }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
