
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
            <div class="container-fluid">
                <span class="logo navbar-brand mb-0 h1">EDUNET</span>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto d-flex align-items-center gap-2">
                  <a class="nav-link active" aria-current="page" href="{{ url_for('main.index') }}">Home</a>
                    <a class="nav-link active" href="{{ url_for('anuncios.list_all') }}">Anuncios</a>
                    {% if session.role == 3 %}
                      <a class="nav-link active" href="{{ url_for('grades_routes.parent_query_grades') }}">Calificaciones</a>
                    {% endif %}
                    <a class="nav-link active" href="#">Cursos</a>
                    {% if session.email %}
                    <a class="nav-link active" href="{{ url_for('user.profile') }}">Mi perfil</a>
                      <a href="{{ url_for('auth.logout') }}" class="btn btn-dark">Logout</a>
                    {% else %}
                      <a href="{{ url_for('auth.login_get') }}" class="btn btn-dark">Iniciar Sesión</a>
                    {% endif %}
                </div>
                </div>
            </div>
        </nav>
    </div>

